Debug
Debug/
Release
Release/
*.ncb
*.suo
*.sdf
*.opensdf
.metadata
IcUpdateLog.htm
target
target-lo
target-zqm
target-gqm
Release*
Release*
Resharper*
Genesys-Service
Genesys-Standalone
ipch
*.ipch
ProtocolMessage.pb.*
